modules = ["nodejs-20"]

[workflows]

[[workflows.workflow]]
name = "start"
mode = "sequential"
author = 43422192

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/start-dev.sh"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[nix]
channel = "stable-25_05"

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0"]
